<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DavisInvoice.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <DavisInvoice.Properties.Settings>
            <setting name="invoiceWorkflow" serializeAs="String">
                <value>108</value>
            </setting>
            <setting name="stateAccounting" serializeAs="String">
                <value>144</value>
            </setting>
            <setting name="stateProcessing" serializeAs="String">
                <value>145</value>
            </setting>
            <setting name="stateComplete" serializeAs="String">
                <value>146</value>
            </setting>
            <setting name="VaultName" serializeAs="String">
                <value>My Vault</value>
            </setting>
            <setting name="objAccount" serializeAs="String">
                <value>165</value>
            </setting>
            <setting name="propCheckNumber" serializeAs="String">
                <value>1158</value>
            </setting>
            <setting name="propDueDate" serializeAs="String">
                <value>1169</value>
            </setting>
            <setting name="propGLCode" serializeAs="String">
                <value>1148</value>
            </setting>
            <setting name="propGLAmount" serializeAs="String">
                <value>1157</value>
            </setting>
            <setting name="propInvoiceDate" serializeAs="String">
                <value>1168</value>
            </setting>
            <setting name="propInvoiceNumber" serializeAs="String">
                <value>1159</value>
            </setting>
            <setting name="propInvoiceTitle" serializeAs="String">
                <value>1111</value>
            </setting>
            <setting name="propAccount" serializeAs="String">
                <value>1164</value>
            </setting>
            <setting name="propLedgerEntry" serializeAs="String">
                <value>1154</value>
            </setting>
            <setting name="propLedgerEntryName" serializeAs="String">
                <value>1155</value>
            </setting>
            <setting name="objInvoice" serializeAs="String">
                <value>162</value>
            </setting>
            <setting name="objProperty" serializeAs="String">
                <value>164</value>
            </setting>
            <setting name="objVendor" serializeAs="String">
                <value>161</value>
            </setting>
        </DavisInvoice.Properties.Settings>
    </applicationSettings>
</configuration>